
/* common css start */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li {
    list-style-type: none;
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 1280px;
}


/* common css end */

/* nav part start */



.navbar-nav .nav-link.active{
    color: #d3d1d1;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.navbar-nav .nav-link.active:hover{
    color: #ffffff;
}
.navbar{
    background-color: #1C1E53;
    padding: 32px 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 16px;
  padding-right: 16px;
}
.nav-btn a{
    padding: 16px 48px;
    color: #fff;
    border-radius: 41px;
    border: #BBBBCB 2px solid;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: all linear 0.5s;
}
.nav-btn a:hover{
    padding: 16px 48px;
    color: #000000;
    background-color: #ffffff;
    border: #000000 2px solid;

}


/* nav part end */

/* banner part start */


#banner{
    background-color: #1C1E53;
    padding: 146px 0px;
}

#banner .heading h1{
    color: #fff;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 24px;
}

#banner .heading p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    padding-bottom: 48px;
}

#banner .banner-btn a{
    padding: 16px 56px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    background-color: #FCD980;
    color: #000;
    border: 2px solid #FCD980;
    border-radius: 41px;
    transition: all linear 0.5s;
}
#banner .banner-btn a:hover{
    border: 2px solid #cecdcd;
    background-color: #1C1E53;
    color: #ffffff;

}

#banner .banner-btn h5{
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#banner .banner-btn{
    display: flex;
    column-gap: 40px;
    align-items: baseline;
}

#banner .banner-btn .icon i{
    color: #fff;
   
}

#banner .banner-pic img{
    padding-top: 36px;
}


/*  bannner part end */

/* work part start */


#work{
    padding-top: 147px;
    padding-bottom: 103px;
    background-color: #F4F6FC;
}

#work .left h2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;

}

#work .left p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 405px;
    padding-bottom: 16px;
}

#work .left h5{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #2405F2;
}

#work .left .w-icon{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
}

#work .left .w-icon i{
    color: #2405F2;
}

#work .right img{
    padding-bottom: 16px;

}

#work .right h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-bottom: 8px;
}

#work .right p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 303px;
    padding-bottom: 48px;
}

#work .wrapper{
    display: flex;
    flex-wrap: wrap;
}


/* work part end */

/* view part start */


#view .view-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

#view .view-head .v-icon{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
}

#view {
    padding-top: 147px;
    padding-bottom: 128px;
}

#view .view-head h2{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#view .view-head .v-icon h5{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

#view .bg-pic{
    background: url(../photo/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 843px;
    height: 600px;
}

#view .bg-pic .bg-txt{
    width: 396px;
    height: 600px;
    background-color: rgb(28, 30, 83, 0.65);
    padding-top: 312px;
    padding-left: 45px;
    transition: all linear 0.5s;
}

#view .bg-pic .bg-txt:hover{
    width: 100%;
}

#view .bg-pic .bg-txt h3{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 38px;
    width: 313px;
    color: #ffffff;
    padding-bottom: 16px;
}

#view .bg-pic .bg-txt p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 28px;
    width: 293px;
    color: #dfdfdf;
    padding-bottom: 40px;
}

#view .bg-pic .bg-txt .vector{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
}

#view .bg-pic .bg-txt .vector h6{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
   color: #FCC373;
}

#view .bg-pic .bg-txt .vector i{
    color: #FCC373;
}

#view .bnr-pic-2{
    background: url(../photo/Rectangle\ 1313.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 405px;
    height: 284px;
    margin-bottom: 32px;
}

#view .bnr-pic-2 .to-txt{
    width: 405px;
    height: 284px;
    transition: all linear 0.5s;
}

#view .bnr-pic-2 .to-txt:hover{
    background-color: rgb(28, 30, 83, 0.65);
}

#view .bnr-pic-2 h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    width: 313px;
    padding-bottom: 10px;
    padding-top: 130px;
    padding-left: 56px;
}

#view .bnr-pic-2 .vector{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
    padding-left: 56px;
}

#view .bnr-pic-2 .vector h6{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
   color: #FCC373;
}

#view .bnr-pic-2 .vector i{
    color: #FCC373;
}

#view .hol{
    position: relative;
}

#view .bol{
    display: none;
    position: absolute;
    top:0px;
    left:0px;
    background-color: #1C1E53;
    height: 600px;
    width: 396px;
    padding-top: 312px;
}

#view .bol:hover{
    position: absolute;
    top:0px;
    left:0px;
    background-color: #1C1E53;
    height: 600px;
    width: 396px;
    padding-top: 312px;
}


/* view part end */

/* time part start */



#time{
    padding: 128px 0px;
    background-color: #F4F6FC;
}

#time .time-head h6{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

#time .time-head h3{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 630px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 43px;
    line-height: 64px;
}

#time .time-wrap{
    background-color: #fff;
    padding: 58px 32px 48px 48px;
    margin-bottom: 24px;
}

#time .time-wrap h4{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
    padding-bottom: 12px;
}

#time .time-wrap p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 324px;
}


/* time part end */

/* ask part start */



#ask{
    padding: 130PX 0PX;
    background-color: #fcfcff;
}

#ask .left h3{
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 56px;
    padding-bottom: 16px;
    width: 327px;
}

#ask .left p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 327px;
}

#ask .right h2{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    padding-bottom: 48px;
}

#ask .right .r-wrapper .one{
    display: flex;
    column-gap: 14px;
}

#ask .right .r-wrapper .one .txt h5{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#ask .right .r-wrapper .one .txt p{
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#ask .right .r-wrapper {
    display: flex;
    justify-content: space-between;
}



/*  ask part end */

/* how part start */



#how {
    padding: 128px 0px;
}

#how .l-txt h3{
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 56px;
    width: 328px;
}

#how .l-txt h6{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #2405F2;
}

#how .r-wrappr{
    display: flex;
    column-gap: 60px;
    margin: 32px 0px;
    border-bottom: 2px solid rgb(172, 166, 166);
    transition: all linear 0.4s;
}

#how .r-wrappr:hover{
    padding: 5px 109px 48px 0px;
   border-bottom: 2px solid rgba(172, 166, 166, 0.548);
}

#how .r-wrappr .text h4{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#how .r-wrappr .text p{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
   width: 624px;
    padding-bottom: 0px;
}

/* how part end */

/* website part start */


#website{
padding-bottom: 128px;

}


#website .web-wrapper{
    background: url(../photo/Start\ Convert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 691px;
    position: relative;
}

#website .web-wrapper .txt-wrap h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 96px;
    padding-bottom: 16px;
    color: #fff;
}

#website .web-wrapper .txt-wrap p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 432px;
    color: #fff;
    padding-bottom: 40px;
}

#website .web-wrapper::after{
    content: "";
    position: absolute;
    background-color: #331B4B;
    top: 0px;
    right: 0px;
    width: 626px;
    height: 691px;
    z-index: -1;
}

#website .web-wrapper .txt-wrap{
    padding-left: 96px;
}

#website .web-wrapper .txt-wrap input{
    padding: 15px 230px 15px 10px;
    border-radius: 8px;
    background-color: #271C4E;
    border: 2px solid rgb(85, 85, 85);
    margin-bottom: 15px;
}

#website .web-wrapper .txt-wrap input::placeholder{
    color: #cec2c2;
    width: 200px;
}

#website .web-wrapper .txt-wrap .btn a{
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    color: #000000;
    padding: 16px 150px;
    background-color: #FCC373;
    border: 2px solid #FCC373;
    border-radius: 41px;
    transition: all linear 0.5s;
}

#website .web-wrapper .txt-wrap .btn a:hover{
    border: 2px solid #cecdcd;
    background-color: #271C4E;
    color: #ffffff;

}

#website .web-wrapper .txt-wrap .btn{
    padding-top: 40px;
}

#website .web-wrapper .txt-wrap .icon h6{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

#website .web-wrapper .txt-wrap .icon i{
    color: #fff;
}

#website .web-wrapper .txt-wrap .icon{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
    padding-left: 138px;
    padding-top: 28px;
    padding-bottom: 48px;
}


/* website part end */

/* blog part start */


#blog {
    padding-bottom: 128px;
}

#blog h2{
    font-size: 48px;
    font-weight: 600;
    color: #000;
    font-family: "Poppins", sans-serif;
    padding-bottom: 64px;
}

#blog .blog-wrap{
    display: flex;
    justify-content: space-between;
}


/* blog part end */

/* footer part start */


#footer{
    background-color: #271C4E;
    padding-top: 100px;
}

#footer .left p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
    padding-bottom: 86px;
    line-height: 28px;
}

#footer .right h2{
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

#footer .right p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
}

#footer .right i{
    padding-right: 27px;
    color: #ffffff;
}

#footer .last{
    background-color: #FCC373;
    width: 517px;
}

#footer .last h6{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding-top: 18px;
    padding-left: 37px;
    font-family: "Poppins", sans-serif;
}

#footer .last p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    padding-left: 37px;
}

#footer .last{
    display: flex;
}


/* footer part end */